<h3 class="text-warning">Cadastro de administradores</h3>
    <form action="/admin/admin/add" method="post">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-warning">nome</label>
        <input type="nome" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-warning">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-warning">Password</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>