
    <div class="card bg-dark mt-3">
      <div class="card-body text-light text-center">
        © Feito por gays, emosexuais e k-poppers, ​​​​2022.
        <br>
        © Todos os direitos nos foram negados.
      </div>
    </div>