<nav class="navbar navbar-expand-lg bg-dark bg-gradient border border-1 border-warning  border-opacity-50">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">Caprino na Brasa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class=" navbar-brand nav-link active text-light" aria-current="page" href="https://github.com/CiceroDaniel/projeto">Github</a>
        </li>
      </ul>
      {{#if user}}
        <a href="/usuario/logout" class="nav-link text-light"><button class="btn btn-outline-warning" type="submit">Sair</button></a>
      {{else}}
        <a href="/usuario/login" class="nav-link text-light"><button class="btn btn-outline-warning" type="submit">Login</button></a>
      {{/if}}
    </div>
  </div>
</nav>