<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​health, Weight Loss Linked To Healthy Eating, Be healthy!, ​Top tips from the experts, ​25 Simple Tips to Make Your Diet Healthier, ​How can I eat more healthily?, ​Seasona​l Fruits &amp;amp; Veg, ​Be mindful – take your time and notice what you eat, About Us">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
<link rel="stylesheet" href="/css/Página-Inicial.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.6.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Aclonica:400">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página Inicial">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Página-Inicial.html" data-home-page-title="Página Inicial" class="bg-dark">
    <section class=" u-clearfix u-image u-section-1 mb-4" id="carousel_d50a" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-custom-font u-text u-text-custom-color-1 u-text-1"> Ca​prino na Brasa </h2>
        <h4 class="u-align-left u-text u-text-2">
          <span class="u-text-palette-3-base">Os restaurantes da franquia Caprino contam com ambientes limpos e climatiza​dos, alimentos higienizados, com qualidade e excelência Caprino.</span>
          <br>
        </h4><br>
        <a href="" class="px-4"><button class="btn btn-outline-warning fs-4">+55 88 94002-8666</button></a>
      </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card border border-warning">
                  <div class="card-body bg-dark">
                    <img src="/img/1752599.png" class="rounded mx-auto d-block">
                  </div>
                </div>
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div>
    </section>
    <div class="card bg-dark mt-3">
      <div class="card-body text-light text-center">
        © Feito por gays, emosexuais e k-poppers, ​​​​2022.
        <br>
        © Todos os direitos nos foram negados.
      </div>
    </div>
  </body>
</html>