<h1>Novo usuário</h1>
<div class="card">
  <div class="card-body">
    <form action="/admin/user/new" method="post">
      <label for="email">E-mail:</label>
        <input type="text" name="email" id="email" placeholder="E-mail" class="form-control">
      <label for="senha">Senha:</label>
        <input type="text" name="senha" id="senha" placeholder="Senha" class="form-control">
      <br>
      <button type="submit" class="btn btn-success">Criar usuario</button>
    </form>
  </div>
</div>