<h2>AGENDAMENTO</h2>
 <div class="row mt-2"> 
    <div class="col">
      <div class="card mt-2 bg-dark border border-2 border-warning rounded-3" style="width: 18rem; --bs-bg-opacity: .7;">
        <img src="/img/default-image.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="text-center text-light position-relatine">Mesa: {{numero}}</h4>
          <small class="text-warning">{{descricao}}</small><br>
          <small class="text-warning">Valor: {{valor}}</small><br>
          <small class="text-warning">Data de criação: {{date}}</small><hr>
          <div class="row">
            <div class="col"><button class="btn btn-outline-warning text-warning">AGENDAR</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>