<h4>Login:</h4>
<form action="/usuario/login" method="post"> 
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label text-warning">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label text-warning">Password</label>
        <input type="password" class="form-control" id="senha" name="senha" required>
      </div><br>
      <button type="submit" class="btn btn-outline-warning">Submit</button><hr>
      <a href="/usuario/registro" class="link-warning"><p class="fs-5">Criar nova conta</p></a>
    </form>